@import-normalize;
@import "helper";
* {margin: 0;padding: 0;box-sizing: border-box;}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}
ul,ol{list-style: none}
a{text-decoration: none;color: inherit;}
body{font-family: $font-hei;line-height: 1.2;
  font-size: 16px;background: #f7f7ee}
.icon{
  height: 1.5em;
  width: 1.5em;
;
}
button{
  font-family: inherit;
}
@media (min-width:700px) {
  html{
    width: 700px;
    margin: -1px auto;
    border: 1px solid #1296db;
  }
}
